@{
    ViewData["Title"] = "Create Quiz Index";
}

<h1>@ViewData["Title"]</h1>

<p>Create a quiz with QuizzyPop!</p>

<button class="btn btn-primary" asp-controller="Home" asp-action="CreateQuiz">Start Creating</button>