@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You dont get any</p>

<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=RDdQw4w9WgXcQ&start_radio=1"> 

<img src="/images/test.jpg"  alt="Image" style="width:500px;height:200px;" /> 

</a>