@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<img src="/images/test.jpg" alt="Privacy Image" style="width:200px;height:200px;" />